# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Test & coverage
.pytest_cache/
.coverage*
htmlcov/
coverage.xml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
